<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="icon" href="/images/icon.png">
</head>
<body>

<div class="main-content">
    {{>header}}

    <h4>This App is developed with Nodejs</h4>
    <h4>It uses mapbox api to find location <br>and weatherstack api to find weather details</h4>

    <br>

    <img src="/images/pratik.jpg" alt="">
</div>

{{>footer}}

</body>
</html>
